* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
:root {
  --color-background-image: linear-gradient(
    to top,
    #011704,
    #011403,
    #001003,
    #000b02,
    #000501
  );
  --color-menu: #011704;
  --text-color: rgb(225, 225, 225);
}
body {
  height: auto;
  width: 100%;
}

.main {
  background-color: #0b0b0b;
  height: auto;
  width: 100%;
  position: relative;
  padding: 5px 30px;
}
.main.menu-hidden {
  grid-template-columns: 0 auto; /* Remove space for the menu when hidden */
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0f0f0f;
  width: 22%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  transform: translateX(0%);
  transition: transform 0.6s, opacity 0.6s;
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.menu.active {
  position: absolute;
  transform: translateX(-101%);
  opacity: 0;
  visibility: hidden;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.infoProfile h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 600;
}
.typeJobe p {
  font-family: Arial, Helvetica, sans-serif;
  color: #03440c;
  font-size: 15px;
  font-weight: 400;
}
.typeJobe a i {
  font-family: Arial, Helvetica, sans-serif;
  color: #056b12;
  font-size: 20px;
  font-weight: 500;
}

.typeJobe {
  display: flex;
  gap: 5px;
}
.dropmenuclose i {
  font-size: 25px;
  cursor: pointer;
  color: var(--text-color);
}
.dropmenu i {
  font-size: 35px;
  cursor: pointer;
  color: var(--text-color);
  width: 100%;
  display: block;
}
.profile img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.menustantard,
.footermenu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.menustantard button,
.footermenu button {
  width: 100%;
  padding: 11px;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}
.menustantard button:hover,
.footermenu button:hover {
  background-color: #3434341c;
}
.menustantard button i,
.footermenu button i {
  font-size: 20px;
  margin-right: 10px;
}
.clinetListebtn {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: transform 0.6s, opacity 0s, visibility 0.6s;
}

.clinetListebtn.showbtn {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
}
.clinetListebtn button i {
  font-size: 10px;
  color: #03440c;
}
.content {
  display: block;
  width: 100%;
  height: auto;
  background-color: var(--color-background-image);
  padding: 30px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
  margin-bottom: 15px;
}
.endnav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.profileNav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileNav h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}
.profileNav p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #056b12;
}
.profileNav img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.notification i {
  font-size: 20px;
  color: #056b12;
}

/* Container for boxes */
.boxes {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

/* Individual box */
.box {
  background: #1717174f;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 50px;
  width: 100%;
  height: 180px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Top Section (Title and Icon) */
.prtAnalayses {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  width: 100%;
}

.analeasesT h2 {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
}

.analeasesT p {
  font-size: 12px;
  color: grey;
}

.partIcon i {
  font-size: 40px;
  color: var(--text-color);
}

/* Numbers Section */
.numbers {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.nb span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: var(--text-color);
}
.iconnb span {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.iconnb span i {
  color: #056b12;
  font-size: 20px;
}
.iconnb .downup i {
  color: #6b0505;
  font-size: 20px;
}

.analaysesHome {
  display: flex;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px;
}

.chart {
  height: auto;
  width: 90%;
}
#myChart {
  height: 100%;
  width: 100%;
}

.goals {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.goals .titleGoals {
  color: #d2d2d2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
}
.goal {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #053f0d25;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.goalIcon i {
  font-size: 30px;
  color: var(--text-color);
}
.WhriteGoal h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: var(--text-color);
  margin-bottom: 5px;
}
.WhriteGoal p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: var(--text-color);
}

.WhriteGoal p span {
  color: #0a7a19;
}
/* space content design users */
.hidden {
  display: none;
  opacity: 0;
  transform: scale(0);
  transition: transform scale 0.4s ease opacity 0.4s ease;
}
.contentUsers,
.contentinvoiUser {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  background-color: var(--color-background-image);
  opacity: 1;
  transform: scale(1);
  transition: transform scale 0.4s ease opacity 0.4s ease;
  padding: 30px;
}
.contentUsers {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  background-color: var(--color-background-image);
  opacity: 1;
  transform: scale(1);
  transition: transform scale 0.4s ease opacity 0.4s ease;
  padding: 30px;
}
.spaceinvoice {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 15vh;
  width: 100%;
}
.spaceinvoice h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: var(--text-color);
}
.spaceinvoice h2 span {
  color: #0a7a19;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 150px;
  padding: 50px;
  width: 100%;
}
.part1Info,
.part2Info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.part1Info input,
.part2Info input {
  width: 100%;
  padding: 13px;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #3f3f3f3a;
  color: var(--text-color);
}
.part1Info label,
.part2Info label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: var(--text-color);
}
.part1Info input::placeholder,
.part2Info input::placeholder {
  color: rgba(124, 124, 124, 0.553);
}
.btnSave {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 50%;
}
.btnSave button {
  padding: 12px;
  border: 1px solid transparent;
  outline: 0;
  background-color: #056b12;
  color: var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 5px;
}

/*space users */
.bestusersrsAndmessages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}
.usersSpace {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  gap: 40px;
  width: 100%;
  height: auto;
}
.titleTable {
  text-align: start;
}
.datatable {
  width: 100%;
  height: auto;
  overflow-x: auto; /* Allows horizontal scrolling on small screens */
}
.datatable table {
  background-color: #191a1925;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  min-width: 300px; /* Ensures the table maintains a minimum width */
  overflow-y: scroll;
  display: inline-block;
  height: auto;
  max-height: 350px; /* Sets a max height to prevent overflow */
}
.datatable ::-webkit-scrollbar {
  width: 9px;
}

.datatable ::-webkit-scrollbar-thumb {
  background: #03440c;
  border-radius: 5px;
  cursor: pointer;
}

.datatable ::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 5px;
}
tr,
th,
td {
  padding: 15px 7px;
  border-bottom: 1px solid rgb(30, 30, 30);
  border-collapse: collapse;
}
tr th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: left;
  position: sticky;
  top: 0;
}
tr td {
  position: sticky;
  top: 0;
  color: white;
  font-family: "Roboto", sans-serif;
}

td select {
  background-color: transparent;
  outline: 0;
  border: 1px solid transparent;
  color: var(--text-color);
}

td a {
  text-decoration: none;
  padding: 3px 8px;
  border: 1px solid transparent;
  background-color: transparent;
  outline: 0;
}
.bestusersrsAndmessages {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 30px;
}
.bestusersrsAndmessages .bestsClinet {
  width: 100%;
  height: auto;
}
.bestsClinet .formClint {
  background-color: #191a1925;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: auto;
  gap: 30px;
}
.icontBest i {
  font-size: 50px;
  color: #013608;
}
.bestusersrsAndmessages .message {
  width: 100%;
  height: auto;
}
.bestUsers {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 6px;
}
.nameclinet h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.879);
  margin-bottom: 5px;
}
.nameclinet p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.879);
}
.nameclinet span {
  color: #056b12;
}
.msgUsers {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.message {
  background-color: #191a1925;
  padding: 15px 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}
.infoMsg {
  display: flex;
  align-items: center;
  gap: 5px;
}
.iconmessage i {
  font-size: 50px;
  color: #013608;
}
.informessage h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.879);
  margin-bottom: 5px;
}
.informessage p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.879);
}
.informessage span {
  color: #056b12;
  margin-right: 5px;
}
.seeMsg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.seeMsg button {
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
  outline: 0;
  font-size: 15px;
  cursor: pointer;
}
.seeMsg i {
  font-size: 18px;
}

/*part section analyese users space*/
.contentanalysesUsers {
  width: 100%;
  height: auto;
  padding: 30px;
}
.titleAnalyese {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #e0e0e0;
}
.titlePart {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #118721;
}
.contentpr1 {
  display: flex;
  padding: 30px;
  gap: 10px;
  width: 100%;
  height: auto;
}
.boxesAnlyses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
}
.boxAnalyies {
  background-color: #191a1925;
  width: 100%;
  height: auto;
  padding: 30px;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  gap: 15px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.info h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  font-size: 25px;
  font-weight: 600;
}
.info h2 p {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  font-size: 25px;
  font-weight: 600;
}
.info p {
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5b5b;
  font-size: 15px;
  font-weight: 400;
}
.iconInfo i {
  font-size: 30px;
  color: white;
}
.nbUserss h2 span {
  font-size: 30px;
  font-weight: 600;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.nbUserss {
  display: flex;
  align-items: center;
  gap: 7px;
}

.nbUserss p {
  font-size: 17px;
  font-weight: 300;
  color: rgb(133, 132, 132);
  font-family: Arial, Helvetica, sans-serif;
}
.nbInfo p span {
  font-size: 18px;
  color: rgb(0, 118, 2);
  align-items: center;
}

.nbInfo p {
  font-size: 12px;
  color: grey;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/*chart anlyeses users part 1*/
#myChart2 {
  height: auto;
  width: auto;
  padding: 10px;
}
.chartAnalyeseUsers {
  width: 100%;
  height: auto;
  background-color: #191a1925;
}
/*chart anlyeses users part 2*/

.contentpr2 {
  width: 100%;
  display: flex;
  gap: 10px;
  height: auto;
  padding: 30px;
}
.chartAnalyeseUsersCountry {
  width: 100%;
  height: auto;
  background-color: #191a1925;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newUsers {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 31px;
}
#myChart3 {
  height: auto;
  width: auto;
  padding: 10px;
}
.newUser {
  background-color: #191a1925;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: auto;
}
.prinfo {
  display: flex;
  align-items: center;
  gap: 13px;
}
.iconNewuser i {
  color: var(--text-color);
  font-size: 35px;
}
.infoNweuser h2 {
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.infoNweuser p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: var(--text-color);
}
.infoNweuser p span {
  color: green;
}

.newFl {
  display: flex;
  align-items: center;
  gap: 10px;
}
.newFl h2 {
  background-color: #151515;
  padding: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  transition: 0.4s;
}
.newFl button {
  padding: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 0;
  font-size: 13px;
  font-weight: 500;
  color: #fcfcfc;
  background-color: #151515;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.4s;
}
.newFl h2:hover,
.newFl button:hover {
  background-color: #1f1f1f;
}
/* section for balance analyses*/
.contentBalanceAnalyses {
  height: 100vh;
  width: 100%;
  padding: 30px;
  overflow: hidden;
}
.titleAnalyeseBalance {
  font-size: 28px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding-top: 30px;
  margin-bottom: 10px;
}
.titlePartBalance {
  color: #239432;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.cardsBalance {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  height: auto;
}
.card {
  background: #1717174f;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: auto;
  transform: translateY(0);
  transition: transform 0.4s;
}
.card:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(10px);
}
.iconCard i {
  font-size: 35px;
  color: white;
}
.infoCartd h2 {
  font-size: 25px;
  font-weight: 600;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.infoCartd p {
  font-size: 10px;
  font-weight: 300;
  color: rgb(131, 131, 131);
  font-family: Arial, Helvetica, sans-serif;
}
.infoCartd span {
  font-size: 20px;
  font-weight: 500;
  color: rgb(228, 227, 227);
  font-family: Arial, Helvetica, sans-serif;
}

/* charts section 5*/
.charts {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Ensures all children have the same height */
  gap: 20px; /* Adds spacing between charts */
  width: 100%;
  flex-wrap: wrap; /* Ensures charts stack on smaller screens */
  height: 100vh;
}

.chart1,
.chart2 {
  flex: 1 1 300px; /* Allows flexibility and ensures responsiveness */
  max-width: auto; /* Sets a maximum width for the charts */
  max-height: 100%;
  padding: 30px;
  background: #1717174f;
  border-radius: 10px; /* Adds rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a shadow effect */
  text-align: center;
  height: 400px; /* Ensures both charts have the same height */
  display: flex; /* Centers content vertically */
  flex-direction: column; /* Ensures vertical alignment of children */
  justify-content: center; /* Centers content vertically */
  align-items: center;
}

#balanceChart {
  height: 200px;
  width: 200px;
}

#balanceChart2 {
  height: 200px;
  width: 200px;
}

/* form section to do liste */

.contentTodoliste {
  height: 100vh;
  width: 100%;
  padding: 30px;
}
.formAlltodo {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 20px;
}
.formtodo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 65%;
  background-color: rgb(12, 12, 12);
  padding: 40px;
  border-radius: 10px;
}
.formtodo label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  font-weight: 300;
}
.formtodo input {
  padding: 15px;
  width: 100%;
  background-color: #2c2c2c4e;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.formtodo button {
  padding: 10px;
  width: 100%;
  background-color: #03440c;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  border: 1px solid transparent;
  transform: scale(0.99);
  transition: 0.4s;
}
.formtodo button:hover {
  background-color: #023108;
  transform: scale(0.96);
}

.titleContent .t1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  color: white;
}

.titleContent .t2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
}
.titleContent .t2 span {
  font-weight: 300;
  color: rgb(34, 187, 42);
}
.diplayTasks {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 40px;
  width: 100%;
}
.editTask ul li,
.completedTask ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.editTask ul li i,
.completedTask ul li i {
  font-size: 30px;
  color: #056b12;
}
.editTask,
.completedTask {
  width: 100%;
}
li {
  border: 1px solid rgba(0, 128, 0, 0.299);
  padding: 18px;
  border-radius: 5px;
  color: rgb(229, 228, 228);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.editTask h2,
.completedTask h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 10px;
}

.btnCom {
  padding: 10px;
  background-color: #03440c;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 3px;
  transform: scale(0.95);
  transition: 0.4s;
}
.btnCom:hover {
  transform: scale(0.99);
}
.btnedit .btnCom i,
.btnedit .btnDl i,
.btndelete .btnDl i {
  font-size: 15px;
  color: white;
}
.btnDl {
  padding: 10px;
  background-color: #440303;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 3px;
  transform: scale(0.95);
  transition: 0.4s;
}
.btnDl:hover {
  transform: scale(0.99);
}
.btnedit {
  display: flex;
  gap: 4px;
}
@media screen and (max-width: 740px) {
  body {
    font-size: 16px; /* Base font size */
  }

  .infoProfile h2 {
    font-size: 1.25rem; /* Relative to root font size */
  }

  .part1Info input,
  .part2Info input {
    padding: 0.8rem;
  }
  .boxes {
    flex-wrap: wrap;
    padding: 5px;
  }
  .prtAnalayses {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }
  .profile {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
  }

  .main {
    background-color: #0b0b0b;
    height: auto;
    width: 100%;
    position: relative;
    height: auto;
    padding: 5px;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 80%;
  }
  .menustantard button,
  .footermenu button {
    font-size: 1rem;
    padding: 10px;
  }
  .content {
    width: 100%;
    height: auto;
    background-color: var(--color-background-image);
    padding: 20px;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
  }

  .chart {
    height: auto;
    width: 100%;
  }
  #myChart {
    height: 300px;
    width: 100%;
  }
  .analaysesHome {
    display: flex;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    height: auto;
  }
  .chart {
    height: auto;
    width: 100%;
    margin-top: 10px;
  }
  .goals {
    margin-top: 20px;
  }

  /*Sextion Btn Users*/
  .datatable table {
    display: none;
    font-size: 14px;
    width: 100%; /* Adjust font size for smaller screens */
  }

  tr th,
  tr td {
    padding: 10px 5px; /* Reduce padding for smaller screens */
  }
  .message {
    background-color: #191a1925;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    gap: 0px;
  }
  .bestusersrsAndmessages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    gap: 30px;
    padding: 10px;
  }
  .bestUsers {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 6px;
  }
  .usersSpace {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20%;
    gap: 0px;
    width: 100%;
    height: 100vh;
  }
  /*Sextion Btn add invoice*/

  .contentinvoiUser {
    color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    background-color: var(--color-background-image);
    opacity: 1;
    transform: scale(1);
    transition: transform scale 0.4s ease opacity 0.4s ease;
    padding: 10px 20px;
  }
  .spaceinvoice {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5vh;
    width: 100%;
    padding: 0px;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    flex-wrap: wrap;
    gap: 0px;
    padding: 10px;
    width: 100%;
  }
  .btnSave {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
    width: 50%;
  }

  .contentpr1 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
    width: 100%;
  }
  .boxesAnlyses {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 10px;
  }
  #myChart2 {
    height: 250px;
    width: 100%;
  }
  .chartAnalyeseUsers {
    height: 200px;
    width: 100%;
    background-color: #191a1925;
  }
  .contentanalysesUsers {
    width: 100%;
    height: auto;
    padding: 20px;
    color: #0c0c0c;
  }

  /* section for balance analyses*/
  .contentBalanceAnalyses {
    height: auto;
    width: 100%;
    padding: 20px;
    overflow: hidden;
  }
  .cardsBalance {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    height: auto;
  }
  .charts {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Ensures all children have the same height */
    gap: 20px; /* Adds spacing between charts */
    width: 100%;
    flex-wrap: wrap; /* Ensures charts stack on smaller screens */
    height: auto;
    padding: 10px;
  }
  .titlebalanaceAnalyeses {
    padding: 10px 15px;
  }
  .chart1,
  .chart2 {
    flex: 1 1 300px; /* Allows flexibility and ensures responsiveness */
    max-width: auto; /* Sets a maximum width for the charts */
    max-height: 100%;
    padding: 10px;
    background: #1717174f;
    border-radius: 10px; /* Adds rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a shadow effect */
    text-align: center;
    height: auto; /* Ensures both charts have the same height */
    display: flex; /* Centers content vertically */
    flex-direction: column; /* Ensures vertical alignment of children */
    justify-content: center; /* Centers content vertically */
    align-items: center;
  }

  #balanceChart {
    height: 200px;
    width: 200px;
  }

  #balanceChart2 {
    height: 200px;
    width: 200px;
  }
  .chartAnalyeseUsersCountry {
    height: auto;
    width: 100%;
  }
  #myChart3 {
    height: 400px;
    width: 200px;
  }
  .contentpr2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
    padding: 30px;
  }

  /* section to do liste design for respancive mobile advice */

  .contentTodoliste {
    height: 100vh;
    width: 100%;
    padding: 20px;
  }
  .formAlltodo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 40px 0px;
    
  }
  .formtodo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: rgb(12, 12, 12);
    padding: 5px;
    border-radius: 10px;
  }
  .diplayTasks {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    padding: 5px;
    width: 100%;
  }
  .titleContent {
    padding: 0px 15px;
  }
  .titleContent .t1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: white;
  }

  .titleContent .t2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
  }
  .formtodo button {
    padding: 17px;
  }
  .btnedit {
    display: flex;
    flex-direction: column;
    
    gap: 4px;
  }
}
