* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
:root {
  --color-background-image: linear-gradient(
    to top,
    #011704,
    #011403,
    #001003,
    #000b02,
    #000501
  );
  --color-menu: #011704;
  --text-color: rgb(225, 225, 225);
}
body {
  height: auto;
  width: 100%;
}

.main {
  background-color: #0b0b0b;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 18% auto;
}
.main.menu-hidden {
  grid-template-columns: auto; /* Remove space for the menu when hidden */
}
.menu {
  background-color: #0f0f0f;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  transform: translateX(0%);
  transition: transform 0.6s, opacity 0.6s;
  opacity: 1;
  visibility: visible;
}
.menu.active {
  position: absolute;
  transform: translateX(-101%);
  opacity: 0;
  visibility: hidden;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.infoProfile h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 600;
}
.typeJobe p {
  font-family: Arial, Helvetica, sans-serif;
  color: #03440c;
  font-size: 15px;
  font-weight: 400;
}
.typeJobe a i {
  font-family: Arial, Helvetica, sans-serif;
  color: #056b12;
  font-size: 20px;
  font-weight: 500;
}

.typeJobe {
  display: flex;
  gap: 5px;
}
.dropmenuclose i {
  font-size: 25px;
  cursor: pointer;
  color: var(--text-color);
}
.dropmenu i {
  font-size: 25px;
  cursor: pointer;
  color: var(--text-color);
  width: 100%;
  display: block;
}
.profile img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.menustantard,
.footermenu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.menustantard button,
.footermenu button {
  width: 100%;
  padding: 11px;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}
.menustantard button:hover,
.footermenu button:hover {
  background-color: #3434341c;
}
.menustantard button i,
.footermenu button i {
  font-size: 20px;
  margin-right: 10px;
}
.clinetListebtn {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: transform 0.6s, opacity 0s, visibility 0.6s;
}

.clinetListebtn.showbtn {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
}
.clinetListebtn button i {
  font-size: 10px;
  color: #03440c;
}
.content {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: var(--color-background-image);
  padding: 30px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}
.endnav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.profileNav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileNav h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}
.profileNav p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #056b12;
}
.profileNav img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.notification i {
  font-size: 20px;
  color: #056b12;
}

/* Container for boxes */
.boxes {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

/* Individual box */
.box {
  background: #1717174f;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 50px;
  width: 100%;
  height: 180px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Top Section (Title and Icon) */
.prtAnalayses {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  width: 100%;
}

.analeasesT h2 {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
}

.analeasesT p {
  font-size: 12px;
  color: grey;
}

.partIcon i {
  font-size: 40px;
  color: var(--text-color);
}

/* Numbers Section */
.numbers {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.nb span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: var(--text-color);
}
.iconnb span {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.iconnb span i {
  color: #056b12;
  font-size: 20px;
}
.iconnb .downup i {
  color: #6b0505;
  font-size: 20px;
}

.analaysesHome {
  display: flex;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px;
}

.chart {
  height: auto;
  width: 90%;
}
#myChart {
  height: 100%;
  width: 100%;
}

.goals {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.goals .titleGoals {
  color: #d2d2d2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
}
.goal {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #053f0d25;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.goalIcon i {
  font-size: 30px;
  color: var(--text-color);
}
.WhriteGoal h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: var(--text-color);
  margin-bottom: 5px;
}
.WhriteGoal p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: var(--text-color);
}

.WhriteGoal p span {
  color: #0a7a19;
}
/* space content design users */
.hidden {
  display: none;
  opacity: 0;
  transform: scale(0);
  transition: transform scale 0.4s ease opacity 0.4s ease;
}
.contentUsers,
.contentinvoiUser {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  background-color: var(--color-background-image);
  opacity: 1;
  transform: scale(1);
  transition: transform scale 0.4s ease opacity 0.4s ease;
  padding: 30px;
}

.spaceinvoice {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 15vh;
  width: 100%;
}
.spaceinvoice h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: var(--text-color);
}
.spaceinvoice h2 span {
  color: #0a7a19;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 150px;
  padding: 50px;
  width: 100%;
}
.part1Info,
.part2Info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.part1Info input,
.part2Info input {
  width: 100%;
  padding: 13px;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #3f3f3f3a;
  color: var(--text-color);
}
.part1Info label,
.part2Info label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: var(--text-color);
}
.part1Info input::placeholder,
.part2Info input::placeholder {
  color: rgba(124, 124, 124, 0.553);
}
.btnSave {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 50%;
}
.btnSave button {
  padding: 12px;
  border: 1px solid transparent;
  outline: 0;
  background-color: #056b12;
  color: var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 5px;
}

/*space users */
.bestusersrsAndmessages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}
.usersSpace {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  gap: 40px;
  width: 100%;
  height: auto;
}

.datatable {
  width: 100%;
  height: auto;
  overflow-x: auto; /* Allows horizontal scrolling on small screens */
}
.datatable table {
  background-color: #191a1925;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  min-width: 300px; /* Ensures the table maintains a minimum width */
  overflow-y: scroll;
  display: inline-block;
  height: auto;
  max-height: 350px; /* Sets a max height to prevent overflow */
}
.datatable ::-webkit-scrollbar {
  width: 9px;
}

.datatable ::-webkit-scrollbar-thumb {
  background: #03440c;
  border-radius: 5px;
  cursor: pointer;
}

.datatable ::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 5px;
}
tr,
th,
td {
  padding: 15px 7px;
  border-bottom: 1px solid rgb(30, 30, 30);
  border-collapse: collapse;
}
tr th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: left;
  position: sticky;
  top: 0;
}
tr td {
  position: sticky;
  top: 0;
  color: white;
  font-family: "Roboto", sans-serif;
}

td select {
  background-color: transparent;
  outline: 0;
  border: 1px solid transparent;
  color: var(--text-color);
}

td a {
  text-decoration: none;
  padding: 3px 8px;
  border: 1px solid transparent;
  background-color: transparent;
  outline: 0;
}
.bestusersrsAndmessages {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 30px;
}
.bestusersrsAndmessages .bestsClinet {
  width: 100%;
  height: auto;
}
.bestsClinet .formClint {
  background-color: #191a1925;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: auto;
  gap: 30px;
}
.icontBest i {
  font-size: 50px;
  color: #013608;
}
.bestusersrsAndmessages .message {
  width: 100%;
  height: auto;
}
.bestUsers {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 6px;
}
.nameclinet h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.879);
  margin-bottom: 5px;
}
.nameclinet p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.879);
}
.nameclinet span {
  color: #056b12;
}
.msgUsers {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.message {
  background-color: #191a1925;
  padding: 15px 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}
.infoMsg {
  display: flex;
  align-items: center;
  gap: 5px;
}
.iconmessage i {
  font-size: 50px;
  color: #013608;
}
.informessage h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.879);
  margin-bottom: 5px;
}
.informessage p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.879);
}
.informessage span {
  color: #056b12;
  margin-right: 5px;
}
.seeMsg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.seeMsg button {
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
  outline: 0;
  font-size: 15px;
  cursor: pointer;
}
.seeMsg i {
  font-size: 18px;
}

/*part section analyese users space*/
.contentanalysesUsers {
  width: 100%;
  height: auto;
  padding: 30px;
}
.contentpr1 {
  display: flex;
  padding: 30px;
  gap: 10px;
  width: 100%;
}
.boxesAnlyses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
}
.boxAnalyies {
  background-color: #191a1925;
  width: 100%;
  height: auto;
  padding: 30px;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  gap: 15px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.info h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  font-size: 25px;
  font-weight: 600;
}
.info h2 p {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  font-size: 25px;
  font-weight: 600;
}
.info p {
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5b5b;
  font-size: 15px;
  font-weight: 400;
}
.iconInfo i {
  font-size: 30px;
  color: white;
}
.nbUserss h2 span {
  font-size: 30px;
  font-weight: 600;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.nbUserss {
  display: flex;
  align-items: center;
  gap: 7px;
}

.nbUserss p {
  font-size: 17px;
  font-weight: 300;
  color: rgb(133, 132, 132);
  font-family: Arial, Helvetica, sans-serif;
}
.nbInfo p span {
  font-size: 18px;
  color: rgb(0, 118, 2);
  align-items: center;
}

.nbInfo p {
  font-size: 12px;
  color: grey;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/*chart anlyeses users part 1*/
#myChart2 {
  height: auto;
  width: auto;
  padding: 10px;
}
.chartAnalyeseUsers {
  width: 100%;
  height: auto;
  background-color: #191a1925;
}
@media screen and (max-width: 740px) {
  body {
    font-size: 16px; /* Base font size */
  }

  .infoProfile h2 {
    font-size: 1.25rem; /* Relative to root font size */
  }

  .part1Info input,
  .part2Info input {
    padding: 0.8rem;
  }
  .boxes {
    flex-wrap: wrap;
  }
  .prtAnalayses {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }
  .profile {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
  }

  .main {
    background-color: #0b0b0b;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 80%;
  }
  .menustantard button,
  .footermenu button {
    font-size: 1rem;
    padding: 10px;
  }
  .content {
    width: 100%;
    height: auto;
    background-color: var(--color-background-image);
    padding: 10px;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .chart {
    height: auto;
    width: 100%;
  }
  #myChart {
    height: 250px;
    width: 100%;
  }
  .analaysesHome {
    display: flex;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    height: auto;
  }
  .chart {
    height: auto;
    width: 100%;
    margin-top: 10px;
  }
  .goals {
    margin-top: 20px;
  }

  /*Sextion Btn Users*/
  .datatable table {
    display: none;
    font-size: 14px;
    width: 100%; /* Adjust font size for smaller screens */
  }

  tr th,
  tr td {
    padding: 10px 5px; /* Reduce padding for smaller screens */
  }
  .message {
    background-color: #191a1925;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    gap: 0px;
  }
  .bestusersrsAndmessages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    gap: 30px;
    padding: 10px;
  }
  .bestUsers {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 6px;
  }
  .usersSpace {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20%;
    gap: 0px;
    width: 100%;
    height: 100vh;
  }
  /*Sextion Btn add invoice*/
  .spaceinvoice {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5vh;
    width: 100%;
    padding: 0px;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    flex-wrap: wrap;
    gap: 0px;
    padding: 10px;
    width: 100%;
  }
  .btnSave {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
    width: 50%;
  }

  .contentpr1 {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    width: 100%;
  }
  .boxesAnlyses {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 10px;
  }
  #myChart2 {
    height: 250px;
    width: 100%;
  }
  .chartAnalyeseUsers {
    height: 200px;
    width: 100%;
    background-color: #191a1925;
  }
  .contentanalysesUsers {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}
